<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Zubayer Ahamed" />
<meta name="keyword" content="Hisab, Accounting Software" />
<link rel="shortcut icon" th:href="@{/img/favicon.html}" />
<title th:text="#{page.title.wallet.status}">Wallet Status</title>
<meta th:substituteby="commons :: common-css"></meta>
<link th:href="@{/assets/morris.js-0.4.3/morris.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/css/income/income.css}"/>
</head>

<body>
	<section id="container">
		<!--header start-->
		<span th:substituteby="commons-header :: common-header-top"></span>
		<!--header end-->

		<!--sidebar start-->
		<span th:substituteby="commons-menu :: common-sidebar"></span>
		<!--sidebar end-->

		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">

				<div class="row">
					<div class="col-md-12" style="margin-bottom: 50px; text-align: center;">
						<button data-toggle="modal" data-target="#incomeModal" type="button" title="Add your Income source" class="btn btn-success income-btn"><i class="fa fa-plus"></i> Add your income source</button>
					</div>
				</div>

				<div id="morris">
					<div class="row">
						<div class="col-md-3">
							<section class="panel">
								<header class="panel-heading">
									Total: 
									<span class="total-balance pull-right"></span>
								</header>
								<div class="panel-body">
									<div id="hero-donut" class="graph"></div>
								</div>
							</section>
						</div>
						<div class="col-md-9 income-panel"></div>
					</div>
				</div>

				<!-- data urls -->
				<a id="findAllUrl" th:href="@{/income/findAll}"></a>
				<a id="deleteUrl" th:href="@{/income/delete/}"></a>

				<!-- Modals -->
				<span th:substituteby="views/income-modal :: income-modal"></span>
				<span th:substituteby="views/delete-modal :: delete-modal"></span>
			</section>
		</section>
		<!--main content end-->

		<!-- Right Slidebar start -->
		<span th:substituteby="commons-sidebar :: common-right-sidebar"></span>
		<!-- Right Slidebar end -->
	</section>

	<!-- js -->
	<span th:substituteby="commons :: common-js"></span>
	<script th:src="@{/assets/morris.js-0.4.3/morris.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/morris.js-0.4.3/raphael-min.js}" type="text/javascript"></script>
	<script th:src="@{/js/morris-script.js}"></script>
	<script th:src="@{/js/form-component.js}"></script>
	<script th:src="@{/js/income/income.js}"></script>
	<script type="text/javascript">
		
	</script>
	<!-- alert message -->
	<span th:substituteby="commons-message :: common-message"></span>
</body>
</html>
