<span th:remove="tag" th:fragment="save-modal" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade modal-dialog-center " id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog ">
			<div class="modal-content-wrap">
				<div class="modal-content">
					<div class="modal-header text-white">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title text-center"><i class="fa fa-plus"></i> Add your Income</h4>
					</div>
					<div class="modal-body">
						
					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-danger" type="button">DISCARD</button>
						<button class="btn btn-success" type="button">SAVE</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</span>