<span th:remove="tag" th:fragment="wallet-modal" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade modal-dialog-center " id="walletModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content-wrap">
				<div class="modal-content">
					<div class="modal-header text-white">
						<button id="wallet-modal2-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title wallet-modal-title text-center">Add Your Wallet</h4>
					</div>
					<div class="modal-body">
						<form th:action="@{/wallet/save}" class="wallet-form form-horizontal" role="form" method="post">
							<input type="hidden" name="walletId" id="walletId"/>
							<div class="form-group">
								<label for="walletName" class="col-lg-3 col-sm-3 control-label">Wallet name</label>
								<div class="col-lg-9">
									<input type="text" id="walletName" name="walletName" class="form-control"  placeholder="Wallet name" required="required"/>
								</div>
							</div>
							<div class="form-group">
								<label for="currentBalance" class="col-lg-3 col-sm-3 control-label">Current balance</label>
								<div class="col-lg-9">
									<input type="number" id="currentBalance" name="currentBalance" min="0" class="form-control" placeholder="0.0" required="required"/>
								</div>
							</div>
							<div class="form-group">
								<label for="note" class="col-lg-3 col-sm-3 control-label">Note</label>
								<div class="col-lg-9">
									<input type="text" id="notes" name="notes" class="form-control"  placeholder="Notes"/>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="wallet-discard btn btn-danger" type="button">DISCARD</button>
						<button class="wallet-save btn btn-success" type="button">SAVE</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</span>
